name: auto-release

on:
  schedule:
    - cron: '0 1 * * *' # every day at 1 am

jobs:
  update:

    runs-on: ubuntu-latest

    steps:
      - name: Latest release is a pre-release, older than two weeks, with no open issues/PRs.
        run: |
          RELEASES=$(curl --silent "https://api.github.com/repos/bruffridge/nasawds/releases")
          IS_PRERELEASE=$(echo "$RELEASES" | jq -r '.[0].prerelease')
          if [ "$IS_PRERELEASE" == false ]
          then
            echo "Latest release is not a pre-release, stop." >&2
            exit 1
          fi

          PUBLISHED_AT=$(echo "$RELEASES" | jq -r '.[0].published_at')
          NOW=$(date -uIseconds)
          NOW=$(date --date="$NOW" +%s)
          THEN=$(date --date="$PUBLISHED_AT" +%s)
          DATE_DIFF=$((NOW-THEN))
          if [ $DATE_DIFF -lt 1209600 ] # two weeks
          then
            echo "Latest release is less than two weeks old, stop."
            exit 1
          fi

          ISSUES=$(curl --silent "https://api.github.com/repos/bruffridge/nasawds/issues")
          OPEN_ISSUES=$(echo "$ISSUES" | jq '. | length')

          if [ "$OPEN_ISSUES" -gt 0 ]
          then
            echo "There are open issues, stop."
            exit 1
          fi

          exit 0
      - uses: actions/checkout@v1
        with:
          ref: develop
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
          registry-url: https://registry.npmjs.org/
      - name: update npm package versioning
        run: npm --no-git-tag-version version patch # updates package.json version number from 3.0.1-beta.0 to 3.0.1
      - uses: stefanzweifel/git-auto-commit-action@v2.3.0
        with:
          commit_message: Bump npm version from beta prerelease to stable status
          branch: develop
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  release:
    needs: update
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        ref: master
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
        registry-url: https://registry.npmjs.org/
    - name: Merge develop into master
      uses: robotology/gh-action-nightly-merge@v1.2.0
      with:
        stable_branch: 'develop'
        development_branch: 'master'
        allow_ff: true
        user_name: GitHub Actions
        user_email: actions@github.com
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: get package version
        #https://help.github.com/en/actions/automating-your-workflow-with-github-actions/development-tools-for-github-actions#set-an-environment-variable-set-env
      run: echo "::set-env name=RELEASE_VERSION::$(jq -r '.version' package.json)"
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        tag_name: v${{ env.RELEASE_VERSION }}
        release_name: ${{ env.RELEASE_VERSION }}
        body: |
          Changes in this Release
          - uswds package updated to latest version
        draft: false
        prerelease: false
    - run: npm install
    - run: npm run release
    - run: echo "::set-env name=RELEASE_ASSET_PATH::$(find . -name "nasawds-*.zip")"
    # https://askubuntu.com/a/682130
    - run: echo "::set-env name=RELEASE_ASSET_NAME::$(echo ${RELEASE_ASSET_PATH:2})"

    #https://github.com/actions/upload-release-asset
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
        asset_path: ${{ env.RELEASE_ASSET_PATH }}
        asset_name: ${{ env.RELEASE_ASSET_NAME }}
        asset_content_type: application/zip
    #https://github.com/actions/starter-workflows/blob/master/ci/npm-publish.yml
    # remove .zip file
    - run: rm -rf ${{ env.RELEASE_ASSET_PATH }}
    - run: npm publish
      env:
        # https://stackoverflow.com/questions/57685065/how-to-set-secrets-in-github-actions
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
